#fight {
  // flex-basis: 50%; 
  height: 20rem;
  width: 38rem;
  text-align: center;
  background: rgb(166,244,220);
  background: linear-gradient(4deg, rgba(166,244,220,1) 0%, rgba(148,187,233,1) 100%);
  border-radius:25px;
}

.strengthContainer {
  height: 75px;
  width: 175px;
  border: solid 2px black;
  border-radius: 10px;
  margin: auto;
  background: rgb(231,231,231);
  background: linear-gradient(4deg, rgba(231,231,231,1) 0%, rgba(156,156,156,1) 100%);
}

#fightArea {
  margin: auto;
};

.fa-running, .fa-skull-crossbones {
  text-align: center;
}

.buttonArea {
  margin: 10px;
}
