@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#sleep, #eat, #fight, #play {
  width: 50%;
  height: 400px;
  text-align: center;
}
