#sleep {
  width: 50%;
  height: 350px;
  text-align: center;
  background: rgb(238,174,202);
  background: linear-gradient(4deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-radius:25px;
}

.sleepContainer {
  height: 75px;
  width: 175px;
  border: solid 2px black;
  border-radius: 10px;
  margin: auto;
  background: rgb(231,231,231);
  background: linear-gradient(4deg, rgba(231,231,231,1) 0%, rgba(201,201,201,1) 100%);
}

#energyArea {
  margin: auto;
};

.fa-cloud-moon, .fa-bed {
  text-align: center;
}

.buttonArea {
  margin: 10px;
}
